/*body{
	background-color: #234569;
}*/

h2 {
	text-align: center;
	font-family: 'Gayathri', sans-serif;

}

.thumbnail {
    box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.frame {
	width: 310px;
	height: 450px;
	margin: auto;
	border-radius: 10px;
}

#date {
	text-align: center;
	font-size: 30px;
	padding-top: 5px;
	background-color: #6666CC;
	padding-bottom: 5px;
	color: white;
	margin-bottom: 25px;
	border-radius: 10px 10px 0px 0px;
	}

/*hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 300px;
}
*/
#list {
	height: 305px;
	margin-left: 35px;
	font-size: 18px;
	width: 250px;
	overflow: auto;
}


ul li {
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 5px;
	padding: 5px 10px;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

#list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#list::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
	padding-left: 10px;
}

#list::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border-radius: 10px;

}


.addTask {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 16px;
  min-width: 50px;
  text-align: center;

}

.icon-x{
	float: right;
}

.icon-x-delete{
	display: none;
}

.input {
  width: 100%;
  padding: 10px;
  outline: none;
  border-bottom: none!important;
  box-shadow: none!important;
}

.text-deco {
	text-decoration: line-through;
}

.